TEMPO_RPC_URL=https://rpc.moderato.tempo.xyz
TEMPO_CHAIN_ID=42431
DEPLOYER_PRIVATE_KEY=
AGENT_ADDRESS=
STABLECOIN_ADDRESS=0x20c0000000000000000000000000000000000001
STABLECOIN_EXCHANGE_ADDRESS=0xdec0000000000000000000000000000000000000
MARKET_FACTORY_ADDRESS=
TRM_API_URL=https://www.datos.gov.co/resource/32sa-8pi3.json?$select=valor&$order=vigenciadesde%20DESC&$limit=1
AGENT_MODE=create
SKIP_SEED_LIQUIDITY=true
SEED_LIQUIDITY_STABLE_BID_PER_TOKEN=100
SEED_LIQUIDITY_OUTCOME_ASK_PER_TOKEN=100
SEED_BID_TICK=-250
SEED_ASK_TICK=250
RESOLVE_DATE_KEY=20260215
